<!--<html>-->

<!--<head>-->
<!--    <title>Carbon Footprint</title>-->
<!--    <link rel="stylesheet" href="static/style.css" type="text/css" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--</head>-->

<!--<body>-->
<!--    <h1>Hello User!</h1>-->
<!--    <p>Please hover over the box below and choose an option</p>-->
<!--    <div class="dropdown">-->
<!--        <button class="dropbtn">Dropdown</button>-->
<!--        <div class="dropdown-content">-->
<!--            <a href="car">Car</a>-->
<!--            <a href="bus">Bus</a>-->
<!--            <a href="train">Train</a>-->
<!--            <a href="plane">Plane</a>-->
<!--            <a href="walk">Walk</a>-->
<!--            <a href="bicycle">Bicycle</a>-->
<!--            <a href="boat">Boat</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->

<!--</html>-->


<html>

<head>
    <title>Carbon Footprint</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form method="post" action='/car'>
        <h2> other page</h2>
    </form>
</body>

</html>